<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="admin/fragments/head :: head">
</head>

<body>
	<div th:replace="admin/fragments/header :: header"></div>
	<!-- =============================================== -->

	<!-- Left side column. contains the sidebar -->

	<div th:replace="admin/fragments/sidebar :: sidebar"></div>
	<!-- =============================================== -->
	<!-- Content fragment -->
	<div layout:fragment="content">
		<!-- Content from individual pages will replace this div -->
	</div>

	<!-- Footer fragment -->
	<div th:replace="admin/fragments/footer :: footer">
		<!-- Footer content goes here -->
		<p>&copy; 2024 My Website</p>
	</div>
</body>

</html>