<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Molla - Bootstrap eCommerce Template</title>
	<meta name="keywords" content="HTML5 Template">
	<meta name="description" content="Molla - Bootstrap eCommerce Template">
	<meta name="author" content="p-themes">
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
	<link rel="manifest" href="assets/images/icons/site.html">
	<link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
	<link rel="shortcut icon" href="assets/images/icons/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Molla">
	<meta name="application-name" content="Molla">
	<meta name="msapplication-TileColor" content="#cc9966">
	<meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css">
	<!-- Main CSS File -->
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/skins/skin-demo-3.css">
	<link rel="stylesheet" href="assets/css/demos/demo-3.css">
	<link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
<script>
    function handleSortByChange() {
		noUi
        var selectedValue = document.getElementById("sortby").value;
        // Tạo một URLSearchParams từ query string của URL hiện tại
		var urlParams = new URLSearchParams(window.location.search);
		
		// Lấy giá trị của tham số 'sortby' từ URL
		var cateParam = urlParams.get('cate_id');
		
		// Lấy giá trị của tham số 'sortby' từ URL
		var manuParam = urlParams.get('manu_id');
		
    	// Tạo URL mới với tham số đã chọn
    	var newUrl = "product?page=1&sortby=" + encodeURIComponent(selectedValue);
    	if (cateParam !== null){
			newUrl += "&cate_id="+cateParam;
		}
		if (manuParam !== null){
			newUrl += "&manu_id="+manuParam;
		}
    	// Chuyển hướng trang đến URL mới
    	window.location.href = newUrl;
    }
	function updateUrl(){
		// Lấy URL hiện tại
		var url = window.location.href;
		// Phân tích URL để lấy ra các tham số
		var urlParams = new URLSearchParams(window.location.search);
		// Xóa các tham số cũ
	    urlParams.delete('cate_id');
	    urlParams.delete('manu_id');
	    urlParams.delete('page');
		// Xử lí category param 
		var cate_checkboxes = document.querySelectorAll('input[type="checkbox"][id*="cate"]:checked');
		var cateid_value = '';
		cate_checkboxes.forEach(function(checkbox){
			cateid_value += checkbox.id.split("-")[1]+',';
		});
		cateid_value = cateid_value.slice(0, -1);
		
		// Xử lí manufacturer param
		var manu_checkboxes = document.querySelectorAll('input[type="checkbox"][id*="manu"]:checked');
		var manuid_value = '';
		manu_checkboxes.forEach(function(checkbox){
			manuid_value += checkbox.id.split("-")[1]+',';
		});
		manuid_value = manuid_value.slice(0, -1);
		
		// Thêm lại các param
		if (cateid_value != ''){
			urlParams.set('cate_id', cateid_value);	
		}
		if (manuid_value != ''){
			urlParams.set('manu_id', manuid_value);
		}
		
		var slider = document.getElementById('price-slider');
    	var sliderValue = slider.noUiSlider.get();
    	urlParams.set('price', sliderValue);
		// Xây dựng lại URL với các tham số mới
		var newUrl = window.location.origin + window.location.pathname + '?' + urlParams.toString();
    	// Chuyển hướng trang đến URL mới
    	window.location.href = newUrl;
	}
</script>
</head>

</html>